header{background: #686b66;
    min-height: 160px;
    
    padding: 30px 30px
}

.top-bar {
    padding:0px;
    font-size: 12px;
    border-bottom: .4px solid #3b621c;
    min-height: 40px;
}
.main-header {
    padding: 20px 0 25px;
}

.site-title {
    color: #fff;
    padding-bottom: 10px;
}
.animate-dropdown{
    color: #fff;
    font-size: 20px;
    float: right;
    padding-right: 100px;
}
